---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4487'
      X-Ratelimit-Reset:
      - '1394555303'
      Last-Modified:
      - Tue, 11 Mar 2014 12:51:24 GMT
      Etag:
      - "\"642a51dfc1a88ac4bbef8efaae437bc9\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":17630125,\"name\":\"bimble-test\",\"full_name\":\"Floppy/bimble-test\",\"owner\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/Floppy/bimble-test\",\"description\":\"\",\"fork\":false,\"url\":\"https://api.github.com/repos/Floppy/bimble-test\",\"forks_url\":\"https://api.github.com/repos/Floppy/bimble-test/forks\",\"keys_url\":\"https://api.github.com/repos/Floppy/bimble-test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/Floppy/bimble-test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/Floppy/bimble-test/teams\",\"hooks_url\":\"https://api.github.com/repos/Floppy/bimble-test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/Floppy/bimble-test/events\",\"assignees_url\":\"https://api.github.com/repos/Floppy/bimble-test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/Floppy/bimble-test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/Floppy/bimble-test/tags\",\"blobs_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/Floppy/bimble-test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/Floppy/bimble-test/languages\",\"stargazers_url\":\"https://api.github.com/repos/Floppy/bimble-test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/Floppy/bimble-test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/Floppy/bimble-test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/Floppy/bimble-test/subscription\",\"commits_url\":\"https://api.github.com/repos/Floppy/bimble-test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/Floppy/bimble-test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/Floppy/bimble-test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/Floppy/bimble-test/merges\",\"archive_url\":\"https://api.github.com/repos/Floppy/bimble-test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/Floppy/bimble-test/downloads\",\"issues_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/Floppy/bimble-test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/Floppy/bimble-test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/Floppy/bimble-test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/Floppy/bimble-test/releases{/id}\",\"created_at\":\"2014-03-11T12:49:15Z\",\"updated_at\":\"2014-03-11T12:51:24Z\",\"pushed_at\":\"2014-03-11T12:51:24Z\",\"git_url\":\"git://github.com/Floppy/bimble-test.git\",\"ssh_url\":\"git@github.com:Floppy/bimble-test.git\",\"clone_url\":\"https://github.com/Floppy/bimble-test.git\",\"svn_url\":\"https://github.com/Floppy/bimble-test\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":0}"
  recorded_at: Tue, 11 Mar 2014 15:28:24 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test/branches/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4486'
      X-Ratelimit-Reset:
      - '1394555304'
      Etag:
      - "\"3a7913057633488993c3bf95f7d29565\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"name\":\"master\",\"commit\":{\"sha\":\"97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"commit\":{\"author\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T12:51:07Z\"},\"committer\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T12:51:07Z\"},\"message\":\"test
        gemfile\",\"tree\":{\"sha\":\"5ed8484f4e04996c3a4cf10eba9e24d4ef3a3cbb\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees/5ed8484f4e04996c3a4cf10eba9e24d4ef3a3cbb\"},\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/Floppy/bimble-test/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"html_url\":\"https://github.com/Floppy/bimble-test/commit/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c/comments\",\"author\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.c[...]
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/commits?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"message\":\"updated dependencies\",\"parents\":[\"97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\"],\"tree\":\"e12209a3617bd2fd7a95755dc2808b75e239afa7\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4485'
      X-Ratelimit-Reset:
      - '1394555304'
      Etag:
      - "\"5a996d980f827a25f1aaa616b03723e3\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/bimble-test/git/commits/fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\",\"html_url\":\"https://github.com/Floppy/bimble-test/commit/fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\",\"author\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T15:28:24Z\"},\"committer\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T15:28:24Z\"},\"tree\":{\"sha\":\"e12209a3617bd2fd7a95755dc2808b75e239afa7\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees/e12209a3617bd2fd7a95755dc2808b75e239afa7\"},\"message\":\"updated
        dependencies\",\"parents\":[{\"sha\":\"97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"html_url\":\"https://github.com/Floppy/bimble-test/commit/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\"}]}"
  recorded_at: Tue, 11 Mar 2014 15:28:25 GMT
recorded_with: VCR 2.8.0
