---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/refs?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"ref\":\"refs/heads/update-dependencies\",\"sha\":\"fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4865'
      X-Ratelimit-Reset:
      - '1394560236'
      Etag:
      - "\"043a6d8d3b3623e8eeeded6773d89855\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/bimble-test/git/refs/heads/update-dependencies
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"ref\":\"refs/heads/update-dependencies\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/refs/heads/update-dependencies\",\"object\":{\"sha\":\"fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/fe6e5861c26a3a61c918b9b4bcc82059e4c0c62b\"}}"
  recorded_at: Tue, 11 Mar 2014 16:50:36 GMT
recorded_with: VCR 2.8.0
