---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4791'
      X-Ratelimit-Reset:
      - '1394560714'
      Last-Modified:
      - Tue, 11 Mar 2014 16:57:15 GMT
      Etag:
      - "\"25f6eb33b7a425b0467dfe637430a3da\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":17630125,\"name\":\"bimble-test\",\"full_name\":\"Floppy/bimble-test\",\"owner\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/Floppy/bimble-test\",\"description\":\"\",\"fork\":false,\"url\":\"https://api.github.com/repos/Floppy/bimble-test\",\"forks_url\":\"https://api.github.com/repos/Floppy/bimble-test/forks\",\"keys_url\":\"https://api.github.com/repos/Floppy/bimble-test/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/Floppy/bimble-test/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/Floppy/bimble-test/teams\",\"hooks_url\":\"https://api.github.com/repos/Floppy/bimble-test/hooks\",\"issue_events_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/Floppy/bimble-test/events\",\"assignees_url\":\"https://api.github.com/repos/Floppy/bimble-test/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/Floppy/bimble-test/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/Floppy/bimble-test/tags\",\"blobs_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/Floppy/bimble-test/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/Floppy/bimble-test/languages\",\"stargazers_url\":\"https://api.github.com/repos/Floppy/bimble-test/stargazers\",\"contributors_url\":\"https://api.github.com/repos/Floppy/bimble-test/contributors\",\"subscribers_url\":\"https://api.github.com/repos/Floppy/bimble-test/subscribers\",\"subscription_url\":\"https://api.github.com/repos/Floppy/bimble-test/subscription\",\"commits_url\":\"https://api.github.com/repos/Floppy/bimble-test/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/Floppy/bimble-test/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/Floppy/bimble-test/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/Floppy/bimble-test/merges\",\"archive_url\":\"https://api.github.com/repos/Floppy/bimble-test/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/Floppy/bimble-test/downloads\",\"issues_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/Floppy/bimble-test/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/Floppy/bimble-test/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/Floppy/bimble-test/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/Floppy/bimble-test/releases{/id}\",\"created_at\":\"2014-03-11T12:49:15Z\",\"updated_at\":\"2014-03-11T16:57:15Z\",\"pushed_at\":\"2014-03-11T16:57:14Z\",\"git_url\":\"git://github.com/Floppy/bimble-test.git\",\"ssh_url\":\"git@github.com:Floppy/bimble-test.git\",\"clone_url\":\"https://github.com/Floppy/bimble-test.git\",\"svn_url\":\"https://github.com/Floppy/bimble-test\",\"homepage\":null,\"size\":0,\"stargazers_count\":0,\"watchers_count\":0,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":true,\"has_wiki\":true,\"forks_count\":0,\"mirror_url\":null,\"open_issues_count\":0,\"forks\":0,\"open_issues\":0,\"watchers\":0,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":0,\"subscribers_count\":0}"
  recorded_at: Tue, 11 Mar 2014 16:58:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test/git/trees/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4790'
      X-Ratelimit-Reset:
      - '1394560714'
      Last-Modified:
      - Tue, 11 Mar 2014 16:57:15 GMT
      Etag:
      - "\"25f6eb33b7a425b0467dfe637430a3da\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"master\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees/master\",\"tree\":[{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"971ea446b4dd814d3e1a59f2df9f52d911e60168\",\"path\":\"Gemfile\",\"size\":79,\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs/971ea446b4dd814d3e1a59f2df9f52d911e60168\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"3d77996b4520655a4d90665c6825ede135b87751\",\"path\":\"Gemfile.lock\",\"size\":102,\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs/3d77996b4520655a4d90665c6825ede135b87751\"}]}"
  recorded_at: Tue, 11 Mar 2014 16:58:35 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test/git/blobs/971ea446b4dd814d3e1a59f2df9f52d911e60168?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4789'
      X-Ratelimit-Reset:
      - '1394560715'
      Etag:
      - "\"086d5a47259b2ea86367784a005cf9b4\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"971ea446b4dd814d3e1a59f2df9f52d911e60168\",\"size\":79,\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs/971ea446b4dd814d3e1a59f2df9f52d911e60168\",\"content\":\"c291cmNlICJodHRwczovL3J1YnlnZW1zLm9yZyIKCiNydWJ5PTIuMS4wCiNy\\ndWJ5LWdlbXNldD1iaW1ibGUtdGVzdAoKZ2VtICdyYWtlJw==\\n\",\"encoding\":\"base64\"}"
  recorded_at: Tue, 11 Mar 2014 16:58:35 GMT
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/blobs?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"content\":\"'ekar' meg\\n\\ntset-elbmib=tesmeg-ybur#\\n0.1.2=ybur#\\n\\n\\\"gro.smegybur//:sptth\\\"
        ecruos\",\"encoding\":\"utf-8\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4788'
      X-Ratelimit-Reset:
      - '1394560715'
      Etag:
      - "\"7983484aa7f7af642cd267594bfd3485\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/bimble-test/git/blobs/757ca5b8f1c3849e1002adc7bfb444d5cf6ae87f
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"757ca5b8f1c3849e1002adc7bfb444d5cf6ae87f\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/blobs/757ca5b8f1c3849e1002adc7bfb444d5cf6ae87f\"}"
  recorded_at: Tue, 11 Mar 2014 16:58:36 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/trees?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"base_tree\":\"master\",\"tree\":[{\"path\":\"Gemfile.lock\",\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"757ca5b8f1c3849e1002adc7bfb444d5cf6ae87f\"}]}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaini[...]
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/bimble-test/branches/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4785'
      X-Ratelimit-Reset:
      - '1394560717'
      Etag:
      - "\"3a7913057633488993c3bf95f7d29565\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"name\":\"master\",\"commit\":{\"sha\":\"97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"commit\":{\"author\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T12:51:07Z\"},\"committer\":{\"name\":\"James
        Smith\",\"email\":\"james@floppy.org.uk\",\"date\":\"2014-03-11T12:51:07Z\"},\"message\":\"test
        gemfile\",\"tree\":{\"sha\":\"5ed8484f4e04996c3a4cf10eba9e24d4ef3a3cbb\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/trees/5ed8484f4e04996c3a4cf10eba9e24d4ef3a3cbb\"},\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"comment_count\":0},\"url\":\"https://api.github.com/repos/Floppy/bimble-test/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"html_url\":\"https://github.com/Floppy/bimble-test/commit/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\",\"comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/commits/97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c/comments\",\"author\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.c[...]
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/commits?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"message\":\"updated dependencies\",\"parents\":[\"97376a25bcc2e403ed5b9c9f7eb35c0e8a36c01c\"],\"tree\":\"1a6496dbb6821b5753471a47423c0c25aaca9e05\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4784'
      X-Ratelimit-Res[...]
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/git/refs?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"ref\":\"refs/heads/update-dependencies\",\"sha\":\"53d36f559e9e79603456e4fade412633ddbd1895\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4783'
      X-Ratelimit-Reset:
      - '1394560718'
      Etag:
      - "\"0a0f954027a85e9ba09f8097127341ca\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/bimble-test/git/refs/heads/update-dependencies
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"ref\":\"refs/heads/update-dependencies\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/refs/heads/update-dependencies\",\"object\":{\"sha\":\"53d36f559e9e79603456e4fade412633ddbd1895\",\"type\":\"commit\",\"url\":\"https://api.github.com/repos/Floppy/bimble-test/git/commits/53d36f559e9e79603456e4fade412633ddbd1895\"}}"
  recorded_at: Tue, 11 Mar 2014 16:58:38 GMT
- request:
    method: post
    uri: https://api.github.com/repos/Floppy/bimble-test/pulls?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: UTF-8
      string: "{\"title\":\"Updated dependencies\",\"body\":\"Automatically generated
        by bimble\",\"head\":\"update-dependencies\",\"base\":\"master\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4782'
      X-Ratelimit-Reset:
      - '1394560719'
      Etag:
      - "\"ad7a9281f2958a22a5aeb41ccae443a1\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/Floppy/bimble-test/pulls/2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls/2\",\"id\":13431302,\"html_url\":\"https://github.com/Floppy/bimble-test/pull/2\",\"diff_url\":\"https://github.com/Floppy/bimble-test/pull/2.diff\",\"patch_url\":\"https://github.com/Floppy/bimble-test/pull/2.patch\",\"issue_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/2\",\"number\":2,\"state\":\"open\",\"title\":\"Updated
        dependencies\",\"user\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"Automatically
        generated by bimble\",\"created_at\":\"2014-03-11T16:58:39Z\",\"updated_at\":\"2014-03-11T16:58:39Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":null,\"assignee\":null,\"milestone\":null,\"commits_url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls/2/commits\",\"review_comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls/2/comments\",\"review_comment_url\":\"https://api.github.com/repos/Floppy/bimble-test/pulls/comments/{number}\",\"comments_url\":\"https://api.github.com/repos/Floppy/bimble-test/issues/2/comments\",\"statuses_url\":\"https://api.github.com/repos/Floppy/bimble-test/statuses/53d36f559e9e79603456e4fade412633ddbd1895\",\"head\":{\"label\":\"Floppy:update-dependencies\",\"ref\":\"update-dependencies\",\"sha\":\"53d36f559e9e79603456e4fade412633ddbd1895\",\"user\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"repo\":{\"id\":17630125,\"name\":\"bimble-test\",\"full_name\":\"Floppy/bimble-test\",\"owner\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"fo[...]
