---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/carbon-diet?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4890'
      X-Ratelimit-Reset:
      - '1394544954'
      Last-Modified:
      - Tue, 11 Mar 2014 11:49:26 GMT
      Etag:
      - "\"64d967a347b4d2380ae35ba1f823517f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":62934,\"name\":\"carbon-diet\",\"full_name\":\"Floppy/carbon-diet\",\"owner\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/Floppy/carbon-diet\",\"description\":\"The
        source code for the Carbon Diet website\",\"fork\":false,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet\",\"forks_url\":\"https://api.github.com/repos/Floppy/carbon-diet/forks\",\"keys_url\":\"https://api.github.com/repos/Floppy/carbon-diet/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/Floppy/carbon-diet/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/Floppy/carbon-diet/teams\",\"hooks_url\":\"https://api.github.com/repos/Floppy/carbon-diet/hooks\",\"issue_events_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/Floppy/carbon-diet/events\",\"assignees_url\":\"https://api.github.com/repos/Floppy/carbon-diet/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/Floppy/carbon-diet/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/Floppy/carbon-diet/tags\",\"blobs_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/Floppy/carbon-diet/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/Floppy/carbon-diet/languages\",\"stargazers_url\":\"https://api.github.com/repos/Floppy/carbon-diet/stargazers\",\"contributors_url\":\"https://api.github.com/repos/Floppy/carbon-diet/contributors\",\"subscribers_url\":\"https://api.github.com/repos/Floppy/carbon-diet/subscribers\",\"subscription_url\":\"https://api.github.com/repos/Floppy/carbon-diet/subscription\",\"commits_url\":\"https://api.github.com/repos/Floppy/carbon-diet/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/Floppy/carbon-diet/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/Floppy/carbon-diet/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/Floppy/carbon-diet/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/Floppy/carbon-diet/merges\",\"archive_url\":\"https://api.github.com/repos/Floppy/carbon-diet/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/Floppy/carbon-diet/downloads\",\"issues_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/Floppy/carbon-diet/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/Floppy/carbon-diet/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/Floppy/carbon-diet/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/Floppy/carbon-diet/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/Floppy/carbon-diet/releases{/id}\",\"created_at\":\"2008-10-14T15:07:06Z\",\"updated_at\":\"2014-03-11T11:49:26Z\",\"pushed_at\":\"2014-03-11T11:49:26Z\",\"git_url\":\"git://github.com/Floppy/carbon-diet.git\",\"ssh_url\":\"git@github.com:Floppy/carbon-diet.git\",\"clone_url\":\"https://github.com/Floppy/carbon-diet.git\",\"svn_url\":\"https://github.com/Floppy/carbon-diet\",\"homepage\":\"http://www.carbondiet.org\",\"size\":4637,\"stargazers_count\":6,\"watchers_count\":6,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":false,\"has_wiki\":false,\"forks_count\":2,\"mirror_url\":null,\"open_issues_count\":86,\"forks\":2,\"open_issues\":86,\"watchers\":6,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":2,\"subscribers_count\":1}"
  recorded_at: Tue, 11 Mar 2014 12:44:39 GMT
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/carbon-diet/git/trees/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4889'
      X-Ratelimit-Reset:
      - '1394544954'
      Last-Modified:
      - Tue, 11 Mar 2014 11:49:26 GMT
      Etag:
      - "\"64d967a347b4d2380ae35ba1f823517f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"master\",\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/trees/master\",\"tree\":[{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"b682e8416c6df43f6c99248df0af76a20e4b7db6\",\"path\":\".gitignore\",\"size\":181,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs/b682e8416c6df43f6c99248df0af76a20e4b7db6\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"cf6add7ea568d3d90d6a1f8afb0898b0119b14ff\",\"path\":\".rspec\",\"size\":8,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs/cf6add7ea568d3d90d6a1f8afb0898b0119b14ff\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"acea2c24f3f3ecbdb0e6b591e0ae89d2a53ae268\",\"path\":\".rvmrc\",\"size\":2017[...]
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/carbon-diet/git/blobs/2235b1712de344a56823ade0149d5ff41f68c092?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4888'
      X-Ratelimit-Reset:
      - '1394544954'
      Etag:
      - "\"040b79472d5f1e8296accf26735c5b50\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"2235b1712de344a56823ade0149d5ff41f68c092\",\"size\":845,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs/2235b1712de344a56823ade0149d5ff41f68c092\",\"content\":\"c291cmNlICdodHRwOi8vcnVieWdlbXMub3JnJwoKZ2VtICdyYWlscycsICd+\\nPiAzLjIuMycKZ2VtICdhY3RpdmVfc2NhZmZvbGQnCmdlbSAnYWlyYnJha2Un\\nCmdlbSAndmFsaWRhdGVzX3RpbWVsaW5lc3MnCmdlbSAnbXVsdGlwYXNzJwpn\\nZW0gJ3dpbGxfcGFnaW5hdGUnCmdlbSAncmFpbHNfYWRtaW4nCmdlbSAicmVj\\nYXB0Y2hhIiwgOnJlcXVpcmUgPT4gInJlY2FwdGNoYS9yYWlscyIKZ2VtICJt\\naW5pX21hZ2ljayIKZ2VtICd3aGVuZXZlcicKCiMgR2VtcyB1c2VkIG9ubHkg\\nZm9yIGFzc2V0cyBhbmQgbm90IHJlcXVpcmVkCiMgaW4gcHJvZHVjdGlvbiBl\\nbnZpcm9ubWVudHMgYnkgZGVmYXVsdC4KZ3JvdXAgOmFzc2V0cyBkbwogIGdl\\nbSAnc2Fzcy1yYWlscycsICAgJ34+IDMuMi4zJwogIGdlbSAnY29mZmVlLXJh\\naWxzJywgJ34+IDMuMi4xJwogIGdlbSAndWdsaWZpZXInLCAnPj0gMS4wLjMn\\nCmVuZAoKZ3JvdXAgOmRldmVsb3BtZW50LCA6dGVzdCBkbwogIGdlbSAnc3Fs\\naXRlMycKICBnZW0gJ2N1Y3VtYmVyLXJhaWxzJywgOnJlcXVpcmUgPT4gZmFs\\nc2UKICBnZW0gJ2RhdGFiYXNlX2NsZWFuZXInCiAgZ2VtICdyc3BlYy1yYWls\\ncycKICBnZW0gJ2d1YXJkLXJzcGVjJwogIGdlbSAnc3BvcmstcmFpbHMnCiAg\\nZ2VtICdndWFyZC1zcG9yaycKICBnZW0gJ2dyb3dsJwogIGdlbSAnc2ltcGxl\\nY292JywgOnJlcXVpcmUgPT4gZmFsc2UKICBnZW0gJ2ZhY3RvcnlfZ2lybF9y\\nYWlscycKICBnZW0gJ2Zha2VyJwogIGdlbSAnYWYnCiAgZ2VtICdjYWxkZWNv\\ndHQnLCAnfj4gMC4wLjUnCiAgZ2VtICdwb2x0ZXJnZWlzdCcKZW5kCgpncm91\\ncCA6cHJvZHVjdGlvbiBkbwogIGdlbSAnbXlzcWwyJwplbmQ=\\n\",\"encoding\":\"base64\"}"
  recorded_at: Tue, 11 Mar 2014 12:44:40 GMT
recorded_with: VCR 2.8.0
