---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/carbon-diet/git/trees/master?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4891'
      X-Ratelimit-Reset:
      - '1394544954'
      Last-Modified:
      - Tue, 11 Mar 2014 11:49:26 GMT
      Etag:
      - "\"64d967a347b4d2380ae35ba1f823517f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"sha\":\"master\",\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/trees/master\",\"tree\":[{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"b682e8416c6df43f6c99248df0af76a20e4b7db6\",\"path\":\".gitignore\",\"size\":181,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs/b682e8416c6df43f6c99248df0af76a20e4b7db6\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"cf6add7ea568d3d90d6a1f8afb0898b0119b14ff\",\"path\":\".rspec\",\"size\":8,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs/cf6add7ea568d3d90d6a1f8afb0898b0119b14ff\"},{\"mode\":\"100644\",\"type\":\"blob\",\"sha\":\"acea2c24f3f3ecbdb0e6b591e0ae89d2a53ae268\",\"path\":\".rvmrc\",\"size\":2017,\"url\":\"https://api.g[...]
