---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/Floppy/carbon-diet?access_token=<GITHUB_OAUTH_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="<GITHUB_OAUTH_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4892'
      X-Ratelimit-Reset:
      - '1394544954'
      Last-Modified:
      - Tue, 11 Mar 2014 11:49:26 GMT
      Etag:
      - "\"64d967a347b4d2380ae35ba1f823517f\""
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "{\"id\":62934,\"name\":\"carbon-diet\",\"full_name\":\"Floppy/carbon-diet\",\"owner\":{\"login\":\"Floppy\",\"id\":3565,\"avatar_url\":\"https://gravatar.com/avatar/c150a49c7709fa40bffca545ecf8942d?d=https%3A%2F%2Fidenticons.github.com%2Fe6e713296627dff6475085cc6a224464.png&r=x\",\"gravatar_id\":\"c150a49c7709fa40bffca545ecf8942d\",\"url\":\"https://api.github.com/users/Floppy\",\"html_url\":\"https://github.com/Floppy\",\"followers_url\":\"https://api.github.com/users/Floppy/followers\",\"following_url\":\"https://api.github.com/users/Floppy/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/Floppy/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/Floppy/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/Floppy/subscriptions\",\"organizations_url\":\"https://api.github.com/users/Floppy/orgs\",\"repos_url\":\"https://api.github.com/users/Floppy/repos\",\"events_url\":\"https://api.github.com/users/Floppy/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/Floppy/received_events\",\"type\":\"User\",\"site_admin\":false},\"private\":false,\"html_url\":\"https://github.com/Floppy/carbon-diet\",\"description\":\"The
        source code for the Carbon Diet website\",\"fork\":false,\"url\":\"https://api.github.com/repos/Floppy/carbon-diet\",\"forks_url\":\"https://api.github.com/repos/Floppy/carbon-diet/forks\",\"keys_url\":\"https://api.github.com/repos/Floppy/carbon-diet/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/Floppy/carbon-diet/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/Floppy/carbon-diet/teams\",\"hooks_url\":\"https://api.github.com/repos/Floppy/carbon-diet/hooks\",\"issue_events_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/Floppy/carbon-diet/events\",\"assignees_url\":\"https://api.github.com/repos/Floppy/carbon-diet/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/Floppy/carbon-diet/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/Floppy/carbon-diet/tags\",\"blobs_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/Floppy/carbon-diet/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/Floppy/carbon-diet/languages\",\"stargazers_url\":\"https://api.github.com/repos/Floppy/carbon-diet/stargazers\",\"contributors_url\":\"https://api.github.com/repos/Floppy/carbon-diet/contributors\",\"subscribers_url\":\"https://api.github.com/repos/Floppy/carbon-diet/subscribers\",\"subscription_url\":\"https://api.github.com/repos/Floppy/carbon-diet/subscription\",\"commits_url\":\"https://api.github.com/repos/Floppy/carbon-diet/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/Floppy/carbon-diet/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/Floppy/carbon-diet/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues/comments/{number}\",\"contents_url\":\"https://api.github.com/repos/Floppy/carbon-diet/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/Floppy/carbon-diet/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/Floppy/carbon-diet/merges\",\"archive_url\":\"https://api.github.com/repos/Floppy/carbon-diet/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/Floppy/carbon-diet/downloads\",\"issues_url\":\"https://api.github.com/repos/Floppy/carbon-diet/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/Floppy/carbon-diet/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/Floppy/carbon-diet/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/Floppy/carbon-diet/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/Floppy/carbon-diet/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/Floppy/carbon-diet/releases{/id}\",\"created_at\":\"2008-10-14T15:07:06Z\",\"updated_at\":\"2014-03-11T11:49:26Z\",\"pushed_at\":\"2014-03-11T11:49:26Z\",\"git_url\":\"git://github.com/Floppy/carbon-diet.git\",\"ssh_url\":\"git@github.com:Floppy/carbon-diet.git\",\"clone_url\":\"https://github.com/Floppy/carbon-diet.git\",\"svn_url\":\"https://github.com/Floppy/carbon-diet\",\"homepage\":\"http://www.carbondiet.org\",\"size\":4637,\"stargazers_count\":6,\"watchers_count\":6,\"language\":\"Ruby\",\"has_issues\":true,\"has_downloads\":false,\"has_wiki\":false,\"forks_count\":2,\"mirror_url\":null,\"open_issues_count\":86,\"forks\":2,\"open_issues\":86,\"watchers\":6,\"default_branch\":\"master\",\"permissions\":{\"admin\":true,\"push\":true,\"pull\":true},\"network_count\":2,\"subscribers_count\":1}"
  recorded_at: Tue, 11 Mar 2014 12:44:38 GMT
recorded_with: VCR 2.8.0
